<% wrap_layout :layout do %>
<%= yield %>
<h2>Resource Model</h2>
<%= model_uml current_page.data %>
<h2>Definitions</h2>
<%= model_attribute_list %>
<h2>Examples</h2>
<%= model_example_list %>
<% end %>
