---
title: Assertion examples
description: Example provenance structures for assertions in ClinGen
layout: model
model: assertion
skip_children: true

---

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% Dir['source/assertion/**/*.provn'].each do |r| %>
    <% basename = File.basename(r, '.provn') %>
    <tr>
      <td>
	<%= link_to basename, "#{basename}.html" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
