---
layout: model
model: assertion
append_css:
  - 'provn-diagram'
append_js:
  - 'provn-nodes-links'
  - 'dagre-d3.min'
  - 'provn-dagre'
skip_siblings: true

---
<h1><%= locals['basename'] %></h1>

<div id="provn-errors" class="alert alert-danger" role="alert" style="display:none"></div>
<div id="diagram" class="prov-svg-container"></div>

<pre><code id="provn">
<%= File.open(locals[:pathname]) {|f| escape_html(f.read)} %>
</code></pre>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
